*{
	margin:0; 
	padding:0; 
	box-sizing: border-box; 
	font-family: 'Roboto',sans-serif;
	font-size: 16px;

	/* Variables */
	--col-orange: #FEBD69;
    --col-yellow: #FFD814;
    --col-blue: #017CB6;
    --col-faded-blue: #007185;
}